<div class="main_title">
    <h1>Dashboard</h1>
</div>

<div class="big-login-container">
    <div class="login-container">
        <p class='login-container-heading'>Manager Login</p>
        <form class="login-form">
            <input type="email" id="email" name="email" placeholder="Email">
            <input type="password" id="password" name="password" placeholder="Password">

            <button type="submit" (click)="submitForm()">Submit</button>
        </form>

        <div class="extra-options">
            <a href="/employee/login" class="employee-login">Employee login</a>
            <a href="/manager/register" class="employee-login">Manager Register</a>
        </div>

    </div>
</div>
