<div class="main_title">
    <h1>Dashboard</h1>
</div>

<div class="big-login-container">
    <div class="login-container">
        <p class='login-container-heading'>Manager Register</p>
        <form class="login-form">
            <input type="text" id="first_name" name="first_name" placeholder="First name">
            <input type="text" id="last_name" name="last_name" placeholder="Last name"> 
            <input type="email" id="email" name="email" placeholder="Email">
            <input type="password" id="password" name="password" placeholder="Password">

            <button type="submit" (click)="submitForm()">Submit</button>
        </form>
        
        <div class="extra-options">
            <a href="/" class="employee-login">Manager login</a>
        </div>
    </div>
</div>
