<div class="create-task-big-container">
    <div class="create-task-container">
    
        <div class="create-task-content">
            <h2 class="create-task-content-heading">Create Task</h2>
            <form class="create-task-form">
                <input type="text" name="title" id="title" placeholder="Title">
                <input type="text" height="50" name="desc" id="desc" placeholder="Description">
                <input type="text" height="50" name="ttc" id="ttc" placeholder="Time to Complete">
                <button type="submit" (click)=(createTask())>Submit</button>
            </form>
            <a href="/manager/dashboard" class="back">Back</a>
        </div>
    </div>    
</div>
